@{
    ViewBag.Title = "Sobre Nós";
}

<div class="sobre-nos">
    <h2>Saiba mais sobre Nós</h2>
    <div class="sobre-nos-container">
        <div class="row perfil">
            <!-- Primeira pessoa -->

            <div class="col-3">
                <img src="~/img/perfilbia.jpg" alt="Beatriz Nascimento da Silva">
            </div>
            <div class="col">
                <p>Beatriz Nascimento da Silva, cofundadora e CEO, cuida da operação e gestão de fornecedores, garantindo parcerias fortes e a qualidade dos produtos. Ela é responsável pela eficiência logística e pela excelência em cada etapa do processo.</p>
            </div>

        </div>
        <div class="row perfil">
            <!-- Segunda pessoa -->

            <div class="col">
                <p>Ana Clara Chiaramonte Lopes é uma das CEOs do projeto, com foco em expandir o negócio e tornar a culinária coreana acessível no Brasil. Ela lidera a estratégia e o desenvolvimento da marca, com visão empreendedora e paixão pela culinária internacional.</p>
            </div>
            <div class="col-3">
                <img src="~/img/anaparfil.jpeg" alt="Ana Clara Chiaramonte Lopes">
            </div>

        </div>
    </div>
</div>

